<div class="container-fluid margin-top">
    <!-- Tab items -->
    <div class="tabs">
        <div class="row ">
            {{#each provinces}}
            <div class="tab-item active ">
                {{this.name}}
            </div>
            {{/each}}
            <div class="line"></div>
        </div>
    </div>

    <!-- Tab content -->
    <div class="tab-content mt-5 container">
        {{!-- cantho --}}
        <div class="row ">
            {{#each provinces}}
            <div class="tab-pane active">
                <div class=" col-12">
                    <div class="destination-body">

                        <h5 class="text-center">Giới thiệu đôi nét về tỉnh {{this.name}}</h5>


                        <p class="text">{{this.description}}</p>
                        <a href="/provinces/{{this.slug}} ">
                            <h6 class="text-right">Tìm hiểu thêm về {{this.name}}....</h5>
                        </a>
                    </div>
                    <a href="/provinces/{{this.slug}}">
                        <img src="../../uploads/imgProvinces/{{this.img}}" class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>
{{!-- js for line css --}}
<script src="../../js/tabUi.js"></script>